services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${JENKINS_CONTAINER_NAME:-jenkins}
    user: root
    restart: unless-stopped
    ports:
      - "${JENKINS_HTTP_PORT:-8080}:8080"
      - "${JENKINS_AGENT_PORT:-50000}:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home:
